.nav {
  background-color: #202020;
  height: 100vh;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

ul {
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}
.nav-item {
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  color: #afafaf;
  opacity: 1;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.nav-item:first-child {
  padding-bottom: 50px;
}
#lang {
  cursor: pointer;
}
@media (max-width: 650px) {
  .nav {
    height: 3rem;
    width: 100vw;
  }
  .nav-item {
    padding: 0px 10px;
    display: inline;
  }

  ul {
    padding-bottom: 0px;
  }
  .navbar {
    display: flex;
  }
  .nav-item:first-child {
    padding-right: 100px;
    padding-bottom: 0px;
  }
}
