
@font-face {
  font-family: Antapani; 
  src: url(./assets/fonts/Antapani-ExtraBold.otf) 
}

@font-face {
  font-family: no_name_37; 
  src: url(./assets/fonts/no_name_37_Light.otf) 
}

@font-face {
  font-family: NebulosaBlack; 
  src: url(./assets/fonts/NebulosaBlack.otf) 
}

body {
  margin: 0;
  font-family: no_name_37;
}

